<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<dict>
			<key>categoryItems</key>
			<array>
				<dict>
					<key>itemImage</key>
					<string>dino_1</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>dino_2</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>dino_3</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>dino_4</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>dino_5</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>dino_6</string>
				</dict>
			</array>
			<key>categoryImage</key>
			<string>dinos_cover</string>
		</dict>
		<dict>
			<key>categoryItems</key>
			<array>
				<dict>
					<key>itemImage</key>
					<string>fish_1</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>fish_2</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>fish_3</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>fish_4</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>fish_5</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>fish_6</string>
				</dict>
			</array>
			<key>categoryImage</key>
			<string>fishes_cover</string>
		</dict>
		<dict>
			<key>categoryItems</key>
			<array>
				<dict>
					<key>itemImage</key>
					<string>kitten_1</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>kitten_2</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>kitten_3</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>kitten_4</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>kitten_5</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>kitten_6</string>
				</dict>
			</array>
			<key>categoryImage</key>
			<string>kittens_cover</string>
		</dict>
		<dict>
			<key>categoryItems</key>
			<array>
				<dict>
					<key>itemImage</key>
					<string>puppy_1</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>puppy_2</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>puppy_3</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>puppy_4</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>puppy_5</string>
				</dict>
				<dict>
					<key>itemImage</key>
					<string>puppy_6</string>
				</dict>
			</array>
			<key>categoryImage</key>
			<string>puppies_cover</string>
		</dict>
	</array>
</dict>
</plist>
