<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Coloring has never been more fun! Give it a try!</string>
	<string>I absolutely love this coloring app! Check it out now!</string>
	<string>Your kid will fall in love with this coloring app!</string>
	<string>Enjoy magical coloring experience with your kid!</string>
	<string>You and your kid will have so much fun coloring together!</string>
</array>
</plist>
